body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10%;
}

.par {
    background-color: #d3d3d3;
    color: black;
}

.impar {
    background-color: #4f4f4f;
    color: white;
}
