body {
    background-color: #5aa;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

div {
    text-align: center
}

img {
    height: 100px;
    width: 100px;
}

.frutas {
    display: flex;
    margin-left: 33%;
}

