body {
    background-color: #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

b, p {
    display: inline; /* Hace que los elementos se comporten en línea */
}

p {
    margin-left: 5px; /* Opcional: añade un pequeño espacio entre el <b> y el <p> */
}

.precio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#f00
}

img {
    height: 200px;
    width: 200px;
    display: inline;
    margin: 0 50px 0 50px
}

a {
    border-radius: 10px
}